

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*

Proxima Nova

font-family:'Proxima Nova W01 Medium';
font-family:'Proxima Nova A W01 Medium';
font-family:'Proxima Nova S W01 Medium';
font-family:'Proxima Nova W01 Medium Italic';
font-family:'Proxima Nova A W01 Medium It';
font-family:'Proxima Nova S W01 Medium It';
font-family:'Proxima Nova Condensed W01 Md';
font-family:'Proxima Nova A Condensed W01Md';
font-family:'Proxima Nova S Condensed W01Md';
font-family:'Proxima Nova Condensed W01MdIt';
font-family:'Proxima Nova ACondensedW01MdIt';
font-family:'Proxima Nova SCondensedW01MdIt';
font-family:'ProximaNovaExtraCondens1529447';
font-family:'ProximaNovaAExtraConden1529463';
font-family:'ProximaNovaSExtraConden1529479';
font-family:'ProximaNovaExtraCondensedW01Md';
font-family:'ProximaNovaAExtraCondensedW01M';
font-family:'ProximaNovaSExtraCondensedW01M';
font-family:'Proxima N W01 Thin Reg';
font-family:'ProximaNW01SC-ThinReg';
font-family:'ProximaNW01-AltThinReg';
font-family:'Proxima N W01 Thin It';
font-family:'Proxima N W01SC Thin It';
font-family:'ProximaNW01-AltThinIt';
font-family:'Proxima N W01 Light';
font-family:'ProximaNW01SC-LightReg';
font-family:'ProximaNW01-AltLightReg';
font-family:'Proxima N W01 Light It';
font-family:'ProximaNW01SC-LightIt';
font-family:'ProximaNW01-AltLightIt';
font-family:'Proxima N W01 Reg';
font-family:'Proxima N W01SC Reg';
font-family:'Proxima N W01 At Reg';
font-family:'Proxima N W01 Reg It';
font-family:'Proxima N W01SC Reg It';
font-family:'Proxima N W01 At Reg It';
font-family:'Proxima N W01 Smbd';
font-family:'Proxima N W01SC Smbd';
font-family:'Proxima N W01 At Smbd';
font-family:'Proxima N W01 Smbd It';
font-family:'Proxima N W01SC Smbd It';
font-family:'ProximaNW01-AltSmbdIt';
font-family:'Proxima N W01 Bold';
font-family:'Proxima N W01SC Bold';
font-family:'Proxima N W01 At Bold';
font-family:'Proxima N W01 Bold It';
font-family:'Proxima N W01SC Bold It';
font-family:'ProximaNW01-AltBoldIt';
font-family:'Proxima N W01 Xbold';
font-family:'Proxima N W01SC Xbold';
font-family:'Proxima N W01 At Xbold';
font-family:'Proxima N W01 Xbold It';
font-family:'ProximaNW01SC-XboldIt';
font-family:'ProximaNW01-AltXboldIt';
font-family:'Proxima N W01 Black';
font-family:'Proxima N W01SC Black';
font-family:'Proxima N W01 At Black';
font-family:'Proxima N W01 Black It';
font-family:'ProximaNW01SC-BlackIt';
font-family:'ProximaNW01-AltBlackIt';
font-family:'Proxima N W01 Cd Thin';
font-family:'Proxima N W01SC Cd Thin';
font-family:'ProximaNW01-AltCdThin';
font-family:'ProximaNW01-CdThinIt';
font-family:'ProximaNW01SC-CdThinIt';
font-family:'ProximaNW01-AltCdThinIt';
font-family:'Proxima N W01 Cd Light';
font-family:'ProximaNW01SC-CdLight';
font-family:'ProximaNW01-AltCdLight';
font-family:'ProximaNW01-CdLightIt';
font-family:'ProximaNW01SC-CdLightIt';
font-family:'ProximaNW01-AltCdLightI';
font-family:'Proxima N W01 Cd Reg';
font-family:'Proxima N W01SC Cd Reg';
font-family:'Proxima N W01 At Cd Reg';
font-family:'Proxima N W01 Cd Reg It';
font-family:'ProximaNW01SC-CdRegIt';
font-family:'ProximaNW01-AltCdRegIt';
font-family:'Proxima N W01 Cd Smbd';
font-family:'Proxima N W01SC Cd Smbd';
font-family:'ProximaNW01-AltCdSmbd';
font-family:'ProximaNW01-CdSmbdIt';
font-family:'ProximaNW01SC-CdSmbdIt';
font-family:'ProximaNW01-AltCdSmbdIt';
font-family:'Proxima N W01 Cd Bold';
font-family:'Proxima N W01SC Cd Bold';
font-family:'ProximaNW01-AltCdBold';
font-family:'ProximaNW01-CdBoldIt';
font-family:'ProximaNW01SC-CdBoldIt';
font-family:'ProximaNW01-AltCdBoldIt';
font-family:'Proxima N W01 Cd Xbold';
font-family:'ProximaNW01SC-CdXbold';
font-family:'ProximaNW01-AltCdXbold';
font-family:'ProximaNW01-CdXboldIt';
font-family:'ProximaNW01SC-CdXboldIt';
font-family:'ProximaNW01-AltCdXboldI';
font-family:'Proxima N W01 Cd Black';
font-family:'ProximaNW01SC-CdBlack';
font-family:'ProximaNW01-AltCdBlack';
font-family:'ProximaNW01-CdBlackIt';
font-family:'ProximaNW01SC-CdBlackIt';
font-family:'ProximaNW01-AltCdBlackI';
font-family:'Proxima N W01 X Cd Thin';
font-family:'ProximaNW01SC-XCdThin';
font-family:'ProximaNW01-AltXCdThin';
font-family:'ProximaNW01-XCdThinIt';
font-family:'ProximaNW01SC-XCdThinIt';
font-family:'ProximaNW01-AltXCdThinI';
font-family:'ProximaNW01-XCdLight';
font-family:'ProximaNW01SC-XCdLight';
font-family:'ProximaNW01-AltXCdLight1132321';
font-family:'ProximaNW01-XCdLightIt';
font-family:'ProximaNW01SC-XCdLightI';
font-family:'ProximaNW01-AltXCdLight1132324';
font-family:'Proxima N W01 X Cd Reg';
font-family:'ProximaNW01SC-XCdReg';
font-family:'ProximaNW01-AltXCdReg';
font-family:'ProximaNW01SC-XCdRegIt';
font-family:'ProximaNW01-XCdRegIt';
font-family:'ProximaNW01-AltXCdRegIt';
font-family:'Proxima N W01 X Cd Smbd';
font-family:'ProximaNW01SC-XCdSmbd';
font-family:'ProximaNW01-AltXCdSmbd';
font-family:'ProximaNW01-XCdSmbdIt';
font-family:'ProximaNW01SC-XCdSmbdIt';
font-family:'ProximaNW01-AltXCdSmbdI';
font-family:'Proxima N W01 X Cd Bold';
font-family:'ProximaNW01SC-XCdBold';
font-family:'ProximaNW01-AltXCdBold';
font-family:'ProximaNW01-XCdBoldIt';
font-family:'ProximaNW01SC-XCdBoldIt';
font-family:'ProximaNW01-AltXCdBoldI';
font-family:'ProximaNW01-XCdXbold';
font-family:'ProximaNW01SC-XCdXbold';
font-family:'ProximaNW01-AltXCdXbold1132369';
font-family:'ProximaNW01-XCdXboldIt';
font-family:'ProximaNW01SC-XCdXboldI';
font-family:'ProximaNW01-AltXCdXbold1132372';
font-family:'ProximaNW01-XCdBlack';
font-family:'ProximaNW01SC-XCdBlack';
font-family:'ProximaNW01-AltXCdBlack1132381';
font-family:'ProximaNW01-XCdBlackIt';
font-family:'ProximaNW01SC-XCdBlackI';
font-family:'ProximaNW01-AltXCdBlack1132384';

*/

/*

American Captain

font-family: 'american_captainregular';

*/

/*

Colors

#1e479b - blue
#f9a11b - orange
#6a1831 - red

*/

body{
	font-family: 'Proxima N W01 Reg';
}

/* main banner */

.jumbotron{
	background-color: #6a1831;
	background-image: url('/../img/bg-bullets.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	margin: 0;
	padding: 0;
}

.slogan {
    width: 100%;
    height: 100px;
    display: table;
}

.slogan-left,
.slogan-right {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.slogan-left{
	padding: 0 15px;
}

.slogan-right {
    width: 50%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.slogan h1{
	font-size: 105px;
	line-height: 95px;
	margin: 60px 0 0 0;
	text-shadow: 0px 0px 30px rgba(13, 21, 43, 0.2);
}

.divider-slogan{	
	background: #f9a11b;
	height: 13px;
	margin: 55px 0 0 0;
	width: 120px;
}

.registration .col-lg-6{
	/*padding: 0;*/
}

.registration h2{
	font-size: 55px;
	margin: 0 0 30px 0;
}

.registration input,
.registration select{
	height: 55px;
}

.registration input{
	color: #6a1831;
}

.registration .form-group{
	margin-bottom: 30px;
}

.registration .dropdown-menu > li > a{
	height: 55px;
    line-height: 55px;
    padding: 0 15px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){	
	width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover{
	background: #efe8ea;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark{
	display: none;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{
	color: #6a1831;
	font-weight: 600;
	margin-right: 0;
}

.bootstrap-select.btn-group > .btn:first-child{
	height: 55px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option{
	text-shadow: none;
}

.bootstrap-select .btn-default{
	background: #fff;
	color: #6a1831 !important;
}

.bootstrap-select .caret,
.dropup .caret{
	color: #6a1831;
	border-top: 10px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: none;
	margin: -5px 0 0 0 !important;
}

.filter-option .glyphicon-circle{
	display: none;
}

li.selected .glyphicon-circle:before{
	color: #f9a11b;
}

.glyphicon-circle:before {
	color: #d0d0d0;
    content: '\25cf';
    font-size: 1.5em;
    margin-right: 8px;
}

.registration input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #6a1831;
}

.registration input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #6a1831;
	opacity: 1;
}

.registration input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #6a1831;
	opacity: 1;
}

.registration input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #6a1831;
}

#btn-registration-submit{
	background: #f9a11b;	
	color: #fff !important;
	transition: background .25s ease-in-out;
}

#btn-registration-submit:hover{
	background: #d78202;
	color: #fff;
}

#btn-registration-submit.btn-default:disabled, 
#btn-registration-submit.btn-default[disabled]{
	background: #b76e00;
}

label.error{
	color: #fff;
	font-weight: 100;
}

.info{
	background: rgba(0,0,0,.3);	
	height: 470px;
}

.info p{
	color: #fff;
	font-size: 25px;
}

/* end of main banner */

/* navigation */

nav{
	background: #1e479b !important;
    border: none !important;
    border-radius: 0 !important;
}

.navbar{
	height: 50px !important;
	margin: 0 !important;
}

.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus {
    background-color: #f9a11b;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form{
	border: none !important;
	border-color: transparent !important;
}

.navbar-right{
    position: absolute;    
    right: 15px;
    top: 0;
}

.navbar-inverse .navbar-nav > li > a{
	color: #fff;
	text-transform: uppercase;
}

/*.navbar-nav li + li::before {
    content: " | ";
}*/

/* end of navigation */

/* content container*/

.container-content{
	padding: 50px 15px;
}

.container-content h2{

}

/* end of content container*/

/* footer */

footer{
	color: #fff;
}

footer .pull-right{
	font-size: 16px;
}

.footer-bottom{
	background: #6a1831;
	height: 90px;
	line-height: 90px;
}

.footer-bottom .container{
	height: 90px;
	overflow: hidden;
}

.bb-social-media{
	display: inline-block !important;
	list-style: none;
	margin: 0;
	padding: 0;
}

.bb-social-media li{
	display: inline-block;
	float: left;
	margin: 0 20px 0 0;
}

.bb-social-media li a{
	color: #f9a11b;
	font-size: 24px;
	transition: color .25s ease-in-out;
}

.bb-social-media li a:hover{
	color: #d78202;
}

/* end of footer */

.font-americancaptain{
	font-family: 'american_captainregular';	
}

.font-orange{
	color: #f9a11b;
}

.font-red{
	color: #6a1831;
}

.font-white{
	color: #fff;
}

.btn-orange{	
	background: #f9a11b;
	border: none;
	color: #fff;
	font-family: 'Proxima N W01 Smbd';
	font-size: 16px;
	height: 55px;
	text-shadow: none;
	text-transform: uppercase;
	width: 100%;
}

@media only screen and (max-width : 768px){
	#form-registration .form-group{
		margin-bottom: 0;
	}
	
	#form-registration .col-sm-6{
		margin-bottom: 30px;
	}
}